/*==================================================
                PREGUNTAS FRECUENTES
==================================================*/

.faq{

    padding:120px 0;

    background:#F8FAFD;

}

.faq-title{

    text-align:center;

    margin-bottom:70px;

}

.faq-title h2{

    font-size:2.8rem;

    color:var(--azul-1);

    margin-bottom:20px;

}

.faq-title p{

    max-width:700px;

    margin:auto;

    color:#666;

    line-height:1.8;

}

.faq-container{

    max-width:900px;

    margin:auto;

}

.faq-item{

    border-bottom:1px solid #E5E5E5;

}

.faq-question{

    width:100%;

    background:none;

    border:none;

    cursor:pointer;

    padding:28px 10px;

    font-size:1.15rem;

    font-weight:700;

    color:var(--azul-1);

    display:flex;

    justify-content:space-between;

    align-items:center;

    transition:.3s;

}

.faq-question:hover{

    color:var(--dorado);

}

.faq-icon{

    font-size:1.2rem;

    color:var(--dorado);

    transition:transform .35s ease;

}

.faq-answer{

    max-height:0;

    overflow:hidden;

    transition:max-height .45s ease;
}

.faq-answer p{

    padding:0 10px 28px;

    color:#666;

    line-height:1.9;

}

.faq-item.active .faq-answer{

    max-height:1000px;

}

.faq-item.active .faq-icon{

    transform:rotate(180deg);

}

.faq-item{

    transition:.35s;

}

.faq-item.active{

    background:#fafafa;

    border-radius:10px;

}

.faq-question{

    transition:.35s;

}

.faq-item.active .faq-question{

    color:var(--azul-2);

}

.faq-answer{

    transition:max-height .45s ease;

}

.faq-cta{

    text-align:center;

    margin-top:70px;

}

.faq-cta h3{

    color:var(--azul-1);

    margin-bottom:20px;

}

.faq-cta p{

    max-width:600px;

    margin:0 auto 30px;

    line-height:1.8;

    color:#666;

}